<div class="container">
  <div class="row" style="margin-top: 1%; margin-left: 15%">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <form (ngSubmit) ="onArticleSubmit()" #addArticle="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" class="form-control" required ngModel #titleName="ngModel">
          <span class="help-block" *ngIf="!titleName.valid && titleName.touched">Title is empty</span>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" cols="86" rows="5" required ngModel #descriptioName="ngModel"></textarea>
          <span class="help-block" *ngIf="!descriptioName.valid && descriptioName.touched">Description is empty</span>
        </div>
        <button class="btn btn-success" [disabled]= "!addArticle.valid" type="submit">Save Note</button>
      </form>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <app-articles-note-list
        *ngFor="let note of notes; let i = index"
        [newNote]="note"
      ></app-articles-note-list>
    </div>
  </div>
</div>
